/* 修改密码 */
.changepassword{
    margin-top: 40px;
    padding-top: 50px;
    margin-left: 30px;
}
.changepassword span{
    padding-left:400px;
    font-size: 25px;
    font-family: "隶书";
    color: #666666;
}
.changepassword input{
    width: 160px;
    height: 28px;
    font-size: 20px;
    border: 1px solid #ccc;
    padding-left: 5px;
}
.changepassword input[type="submit"]{
    font-family:"隶书";
    width: 230px;
    height: 35px;
    margin-left:450px;
    background-color:#0c6cac;
    line-height:35px;
    border-radius:10px;
    font-size: 27px;
}
input[type="reset"]{
    font-family:"隶书";
    width: 230px;
    height: 35px;
    margin-left:450px;
    background-color:#0c6cac;
    line-height:35px;
    border-radius:10px;
    font-size: 27px;
}