/* 头部那一条的样式 */
.images{
    float:left;
    padding-left:20px;
    padding-top:8px;
    width:50px;
    height:50px;
}
.guanli{
    float:left;
    font-size:33px;
    padding-top:8px;
    padding-left:10px;
    font-weight:bolder;
    color: #FFFFFF;
}
.youbian{
    float:right;
    padding-right:28px;
    font-size:18px;
    padding-top:15px;
}